@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Metal&family=Metal+Mania&display=swap");

:root {
    --container-width: 1160px;
    --blue: #526ba9;
    --red: #b11c3c;
    --gray-dark: #131516;
    --gray-light: D9D9D9;
    --white: #ffffff;
    --sub-board-bg: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1));
}

body {
    margin: 0;
}

.hidden {
    display: none !important;
}

.container {
    width: var(--container-width);
    margin: 0 auto;
}

.main-board {
    display: flex;
    padding: 5px 10px;
    align-items: center;
    min-height: 75px;
    background: linear-gradient(
        90deg,
        var(--blue),
        12.5%,
        var(--gray-dark),
        var(--gray-dark),
        87.5%,
        var(--red)
    );
    font-family: "Metal Mania", cursive;
    color: var(--white);
}

.team-area {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 180px;
}

/*レッドチームは逆順右寄せ*/
.team-area:last-child {
    justify-content: flex-end;
    flex-direction: row-reverse;
}

.team-logo-area {
    width: 60px;
    height: 60px;
    font-family: "Inter", sans-serif;
    font-size: 12px;
}

.team-logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.win-score {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.score-dot {
    width: 10px;
    height: 10px;
    background: var(--gray-dark);
    border-radius: 50%;
}

.score-dot.active {
    background: var(--white);
}

.team-name-area {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.team-name {
    font-family: "Metal", cursive;
    font-size: 32px;
    line-height: 32px;
}

.team-subname {
    margin-top: 4px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
}

.team-score-area {
    flex: 1;
    display: flex;
    justify-content: end;
    gap: 30px;
}

/*レッドチームは逆順左寄せ*/
.team-score-area.red {
    flex-direction: row-reverse;
    justify-content: start;
    color: var(--red);
}

.team-score-area.blue {
    color: var(--blue);
}

.score-area {
    display: flex;
    align-items: center;
    gap: 10px;
}

.score-value {
    width: 12px;
    font-size: 24px;
    line-height: 30px;
}

.score-value.gold {
    width: 52px;
}

.kill-score {
    font-size: 48px;
    line-height: 59px;
}

.tournament-logo-area {
    margin: 0 20px;
    width: 60px;
    height: 60px;
    font-family: "Inter", sans-serif;
    font-size: 12px;
}

.tournament-logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.sub-board {
    display: grid;
    grid-template-columns: 1fr 82px 1fr;
    color: var(--white);
}

.game-time {
    font-family: "Inter", sans-serif;
    font-weight: bolder;
    font-size: 20px;
    background: var(--sub-board-bg);
    padding: 5px 10px;
    text-align: center;
}

.indicators-area {
    display: flex;
    align-items: center;
}

.indicators-area.blue {
    justify-content: end;
    flex-direction: row-reverse;
}

.indicators {
    display: flex;
    gap: 10px;
    align-items: center;
    height: 100%;
    padding: 0 10px;
    background: var(--sub-board-bg);
}

.indicators-icon-area {
    width: 20px;
    height: 20px;
}

.indicators-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.indicators-area.blue .indicators {
    flex-direction: row-reverse;
}

.indicators-area.blue .indicators:last-child {
    padding-left: 20px;
}

.indicators-area.red .indicators:last-child {
    padding-right: 20px;
}
